@import "../../assets/styles/_variables.scss";

.admin-container {
  border-top: 2px solid $brand-secondary;
  height: 100%;
  display: flex;
}

.sidebar {
  min-width: 250px;
  background-color: $brand-secondary;
  color: white;
  h2 {
    text-indent: 20px;
  }
}

.main {
  padding: 0px 20px;
  flex: 1 100%;
}

.nav-sidebar li {
  text-indent: 20px;
  a :hover, :visited {
    background-color: $brand-secondary-lighter;
    color: $brand-primary;
  }
}