# Pycharm
.idea/

# dependencies
/client/node_modules

# dev artifacts
client/assets
client/src/assets/styles/css
client/package-lock.json
shippable/

# Ignore dist folders created when building for deployment
server/web/static/dist
server/web/static/dist/

# Installer logs & local logs
pip-log.txt
pip-delete-this-directory.txt
logs/

# Flask stuff:
instance/
.webassets-cache

# python
.python-version
*pyc

# virtualenv
.venv
venv/
ENV/

# Elastic Beanstalk Files
.elasticbeanstalk/
