<div class="jumbotron">
    <div class="container">
        <h1 i18n="Title of the application@@titleApplication">DMIS</h1>
        <p i18n="Description of the application in header@@homeDescription">This Disaster Management Information System provides a centralised repository for the systematic collection, documentation, analysis and display of relevant data related to the preparedness, detection and response to natural and man made disasters. </p>
        <a routerLink="/map/preparedness" class="btn btn-primary btn-lg" i18n="View map button@@homeViewMap">View map</a>
    </div>
</div>
<div class="container container-homepage">
    <div class="row">
        <p i18n="Description of the application in paragraph@@homeDescriptionParagraph">The DMIS is a tool that helps to provide alerting and analysis functionality to members of the disaster response community in Cambodia, in order to better prepare communities and reduce the impact of disasters.</p>
        <p i18n="Description of the application in paragraph@@homeDescriptionParagraphPartTwo">The Disaster Management Information System was developed by thinkWhere in partnership with People in Need on behalf of the World Food Programme for use by the National Committee for Disaster Management in Cambodia and other Civil Society Organisations.</p>
    </div>
</div>
