<div class="jumbotron">
    <div class="container">
        <h1 i18n="Title of the application@@titleApplication">DMIS</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat ex nisl, nec efficitur sapien consequat eget. Curabitur vitae odio feugiat, ultricies orci sit amet, placerat mi. Suspendisse a aliquam metus, hendrerit auctor metus. Nullam molestie, dolor at lobortis accumsan, odio libero pretium augue, non luctus mi neque nec tellus. Nunc venenatis mi quis facilisis congue. Morbi sem urna, sollicitudin at ornare vel, aliquet ac eros.</p>
        <a routerLink="/map/preparedness" class="btn btn-primary btn-lg">View map</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1>Lorem ipsum</h1>
        <p>Ut venenatis ornare libero, rhoncus dignissim dolor hendrerit a. Nunc dictum odio id sagittis tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin semper enim dui, et ornare ipsum lacinia non. Cras gravida odio et metus dictum fringilla. Nam semper elit lorem. Vestibulum eu tincidunt massa. Donec tristique sapien vel justo faucibus malesuada. Quisque ultrices risus ac felis hendrerit bibendum. Vestibulum imperdiet vulputate urna vitae vehicula. Etiam pharetra lectus varius imperdiet euismod. Nulla nulla nulla, malesuada ac rutrum quis, posuere eu felis. Duis nec finibus lacus. Maecenas vestibulum congue diam ac hendrerit. Nullam at elit cursus lectus interdum semper.</p>
    </div>
</div>
