<h1>Dashboard</h1>
<div class="row" style="max-height: 150px">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2>Users</h2>
         <ngx-charts-number-card
          [scheme]="colorScheme"
          [cardColor]="cardColor"
          [results]="users">
    </ngx-charts-number-card>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
         <h2>Layers</h2>
         <ngx-charts-number-card
           [scheme]="colorScheme"
           [cardColor]="cardColor"
           [results]="layers">
         </ngx-charts-number-card>
    </div>
</div>

