<div class="map-container row row-no-padding" [ngClass]="{'preparedness': category === 'preparedness', 'incidents': category === 'incidents', 'assessment': category === 'assessment'}">
    <div id="map" class="map col-md-12">
        <div id="sidebar" class="sidebar sidebar-left">
            <!-- Nav tabs -->
            <div class="sidebar-tabs"
                 [ngClass]="{'preparedness-bg': category === 'preparedness', 'incidents-bg': category === 'incidents', 'assessment-bg': category === 'assessment'}"
                 (click)="toggleContent()">
                <ul role="tablist">
                    <li class="active"><a role="tab"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div *ngIf="showContent" class="sidebar-content">
                <div class="sidebar-pane active" id="home">
                    <h1 class="sidebar-header pointer" title="Change category"
                        [ngClass]="{'preparedness-bg': category === 'preparedness', 'incidents-bg': category === 'incidents', 'assessment-bg': category === 'assessment'}"
                        (click)="toggleCategoryPicker()">
                        <span *ngIf="category === 'preparedness'">Preparedness</span>
                        <span *ngIf="category === 'incidents'">Incidents and Warnings</span>
                        <span *ngIf="category === 'assessment'">Assessment and Response</span>
                        <span class="sidebar-toggle">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </h1>
                    <div class="switch-category" *ngIf="showCategoryPicker">
                        <div class="preparedness-fg" (click)="setCategory('preparedness')">
                            <h4>Preparedness</h4>
                        </div>
                        <div class="incidents-fg" (click)="setCategory('incidents')">
                            <h4>Incidents and Warnings</h4>
                        </div>
                        <div class="assessment-fg" (click)="setCategory('assessment')">
                            <h4>Assessment and Response</h4>
                        </div>
                    </div>
                    <div *ngIf="category === 'preparedness'">
                        <div class="checkbox" *ngFor="let layer of preparednessLayers; index as i; trackBy: trackByFn" (change)="toggleLayer(layer.layerName)">
                            <label><input type="checkbox" value="">{{ layer.layerTitle }}</label>
                        </div>
                    </div>
                    <div *ngIf="category === 'incidents'">
                        TODO
                    </div>
                    <div *ngIf="category === 'assessment'">
                        TODO
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
