<div class="map-container row row-no-padding" [ngClass]="{'preparedness': category === 'preparedness', 'incidents': category === 'incidents', 'assessment': category === 'assessment'}">
    <div id="map" class="map col-md-12">
        <div id="sidebar" class="sidebar sidebar-left" [ngClass]="{'collapsed': !showContent}">
            <!-- Nav tabs -->
            <div class="sidebar-tabs"
                 [ngClass]="{'preparedness-bg': category === 'preparedness', 'incidents-bg': category === 'incidents', 'assessment-bg': category === 'assessment'}"
                 (click)="toggleContent()">
                <ul role="tablist">
                    <li class="active"><a role="tab"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div [hidden]="!showContent" class="sidebar-content">
                <div class="sidebar-pane active" id="home">
                    <h1 class="sidebar-header pointer" title="Change category" i18n-title="Category toggle title@@mapToggleCategory"
                        [ngClass]="{'preparedness-bg': category === 'preparedness', 'incidents-bg': category === 'incidents', 'assessment-bg': category === 'assessment'}"
                        (click)="toggleCategoryPicker()">
                        <span [hidden]="category !== 'preparedness'" i18n="Map category@@mapCategoryPreparedness">Preparedness</span>
                        <span [hidden]="category !== 'incidents'" i18n="Map category@@mapCategoryIncidents">Incidents and Warnings</span>
                        <span [hidden]="category !== 'assessment'" i18n="Map category@@mapCategoryAssessment">Assessment and Response</span>
                        <span class="sidebar-toggle">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </h1>
                    <div class="switch-category" [hidden]="!showCategoryPicker">
                        <div class="preparedness-fg" (click)="setCategory('preparedness')">
                            <h4 i18n="Map category@@mapCategoryPreparedness">Preparedness</h4>
                        </div>
                        <div class="incidents-fg" (click)="setCategory('incidents')">
                            <h4 i18n="Map category@@mapCategoryIncidents">Incidents and Warnings</h4>
                        </div>
                        <div class="assessment-fg" (click)="setCategory('assessment')">
                            <h4 i18n="Map category@@mapCategoryAssessment">Assessment and Response</h4>
                        </div>
                    </div>
                    <div class="layer-group" [hidden]="category !== 'preparedness'">
                        <div *ngFor="let layerGroup of layers.preparednessLayers | groupBy: 'layerGroup'">
                            <h4 (click)="layerGroup.show = !layerGroup.show" class="pointer heading" title="Toggle layer group" i18n-title="Toggle layer group button@@mapToggleLayerGroup">
                                <i *ngIf="!layerGroup.show" class="fa fa-plus" aria-hidden="true"></i>
                                <i *ngIf="layerGroup.show" class="fa fa-minus" aria-hidden="true"></i>
                                <b>{{ layerGroup.key }}</b>
                            </h4>
                            <div class="item" [hidden]="!layerGroup.show" *ngFor="let layer of layerGroup.value; index as i;">
                                <div class="checkbox" (change)="toggleLayer(layer.layerName)">
                                    <label><input type="checkbox" value="">{{ layer.layerTitle }}</label>
                                </div>
                                <div class="layer-legend">
                                    <img [src]="layer.layerLegend" alt="Legend ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layer-group" [hidden]="category !== 'incidents'">
                        <div *ngFor="let layerGroup of layers.incidentLayers | groupBy: 'layerGroup'">
                            <h4 (click)="layerGroup.show = !layerGroup.show" class="pointer heading" title="Toggle layer group" i18n-title="Toggle layer group button@@mapToggleLayerGroup">
                                <i *ngIf="!layerGroup.show" class="fa fa-plus" aria-hidden="true"></i>
                                <i *ngIf="layerGroup.show" class="fa fa-minus" aria-hidden="true"></i>
                                <b>{{ layerGroup.key }}</b>
                            </h4>
                            <div class="item" [hidden]="!layerGroup.show" *ngFor="let layer of layerGroup.value; index as i;">
                                <div class="checkbox" (change)="toggleLayer(layer.layerName)">
                                    <label><input type="checkbox" value="">{{ layer.layerTitle }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="category !== 'assessment'">
                         <div *ngFor="let layerGroup of layers.assessmentLayers | groupBy: 'layerGroup'">
                            <h4 (click)="layerGroup.show = !layerGroup.show" class="pointer heading" title="Toggle layer group" i18n-title="Toggle layer group button@@mapToggleLayerGroup">
                                <i *ngIf="!layerGroup.show" class="fa fa-plus" aria-hidden="true"></i>
                                <i *ngIf="layerGroup.show" class="fa fa-minus" aria-hidden="true"></i>
                                <b>{{ layerGroup.key }}</b>
                            </h4>
                            <div class="item" [hidden]="!layerGroup.show" *ngFor="let layer of layerGroup.value; index as i;">
                                <div class="checkbox" (change)="toggleLayer(layer.layerName)">
                                    <label><input type="checkbox" value="">{{ layer.layerTitle }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content" class="popup-content"></div>
</div>

