<div class="add-user-container">
    <h1 i18n="Add user header for admin page@@adminAddUserHeader">Add user</h1>
    <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && addUser(userForm)" novalidate>
      <div class="form-group">
        <label for="username" i18n="Username@@adminUsername">Username</label>

        <input type="text" id="username" class="form-control"
               required minlength="4" maxlength="24"
               name="username" #username="ngModel" ngModel>

        <div *ngIf="username.errors && (username.dirty || username.touched)"
             class="alert alert-danger">
            <div [hidden]="!username.errors.required" i18n="Username is required@@adminUsernameRequired">Username is required</div>
            <div [hidden]="!username.errors.minlength" i18n="Username min characters@@adminUsernameMinCharacters">Username must be at least 4 characters long.</div>
            <div [hidden]="!username.errors.maxlength" i18n="Username max characters@@adminUsernameMaxCharacters">Username cannot be more than 24 characters long.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" i18n="Label for password@@adminPasswordLabel">Password</label>
        <input type="password" id="password" class="form-control"
               name="password"
               #password="ngModel"
               maxlength="100"
               ngModel required>
        <div *ngIf="password.errors && (password.dirty || password.touched)"
             class="alert alert-danger">
            <div [hidden]="!password.errors.required" i18n="Password required@@adminPasswordRequired">Password is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="role" i18n="Role header@@adminRoleHeader">Role</label>
        <select id="role" class="form-control"
                name="role"
                ngModel required
                #role="ngModel" >
          <option value="USER" i18n="Option for role@@adminOptionRoleUser">User</option>
          <option value="ADMIN" i18n="Option for role@@adminOptionRoleAdmin">Admin</option>
        </select>

        <div *ngIf="role.errors && role.touched" class="alert alert-danger">
          <div [hidden]="!role.errors.required" i18n="Role required@@adminRoleRequired">Role is required</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary"
             [disabled]="!userForm.form.valid" i18n="Add user header for admin page@@adminAddUserHeader">Add user</button>

      <div [hidden]="!successAddingUser" class="alert alert-success">
          <strong i18n="Success message@@adminSuccessMessage">Success</strong>: <span i18n="Success add user@@adminSuccessAddUser">successfully added a user.</span>
      </div>
      <div [hidden]="!errorAddingUser" class="alert alert-danger">
          <strong i18n="Error message@@adminErrorMessage">Error</strong>: <span i18n="Failed to add user@@adminFailedAddUser">failed to add a user. Does this username already exist?</span>
      </div>
      <div [hidden]="!invalidUsernameSupplied" class="alert alert-danger">
          <strong i18n="Error message@@adminErrorMessage">Error</strong>: <span i18n="Invalid username@@adminInvalidUsername">the username is invalid. Please make sure you don't have any whitespaces in your username.</span>
      </div>
    </form>
</div>