<div id="users-component">
    <h2>Users</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Email</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John Doe</td>
            <td>ADMIN</td>
            <td>john@example.com</td>
            <td><i class="fa fa-trash" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <td>Mary Doe</td>
            <td>USER</td>
            <td>mary@example.com</td>
            <td><i class="fa fa-trash" aria-hidden="true"></i></td>
        </tr>
        </tbody>
    </table>
</div>