<div class="faq-container">
    <div class="container">
        <div class="row">
            <div class="text-center faq-header">
              <h1 i18n="Header for the FAQ@@faqHeader">Frequently Asked Questions</h1>
              <p i18n="Subheader for the FAQ@@faqSubheader">Simple answers to your most common questions</p>
            </div>
            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                <div class="faq-question">
                    <b i18n="faq-question bold@@faq1">What is DMIS?</b>
                    <p i18n="faq1 paragraph@@answer1">This Disaster Management Information System provides a centralised repository for the systematic collection, documentation, analysis and display of relevant data related to the preparedness, detection and response to natural and man made disasters. The DMIS is a tool that helps to provide alerting and analysis functionality to members of the disaster response community in Cambodia, in order to better prepare communities and reduce the impact of disasters. The Disaster Management Information System was developed by thinkWhere in partnership with People in Need on behalf of the World Food Programme for use by the National Committee for Disaster Management in Cambodia and other Civil Society Organisations.

</p>
                </div>
                <div class="faq-question">
                    <b i18n="faq-question bold@@faq2">What data is available through DMIS?</b>
                    <p i18n="faq2 paragraph@@answer2"> There are various datasets provided in three different categories: Preparadness, Incidents and Warnings, Assessment and Response. Mapping data provides information on Cambodian demographics, infrastructure, weather conditions and other.</p>
                </div>
                <div class="faq-question">
                    <b i18n="faq-question paragraph@@faq3">How can my organization gain access to DMIS?</b>
                    <p i18n="faq2 paragraph@@answer3">Please get in touch with us at support@dmis.com</p>
                </div>
                <div class="faq-question">
                    <b i18n="faq-question paragraph@@faq4">How do I reset my username/password?</b>
                    <p i18n="faq4 paragraph@@answer4">Please get in touch with us at support@dmis.com</p>
                </div>
                <div class="faq-question">
                    <b i18n="faq-question paragraph@@faq5">I cannot see some datasets, why?</b>
                    <p i18n="faq5 paragraph@@answer5">Some datasets, for instance Earth Network Lightning information, are dynamic are only displayed when available.</p>
                </div>
                <div class="faq-question">
                    <b i18n="faq-question paragraph@@faq6">How can I create additional accounts for my colleagues?</b>
                    <p i18n="faq5 paragraph@@answer6">You will require admin privileges to add additional users. Please get in touch with us at support@dmis.com</p>
                </div>
            </div>
        </div>
    </div>
</div>