<div class="faq-container">
    <div class="container">
        <div class="row">
            <div class="text-center faq-header">
              <h1 i18n="Header for the FAQ@@faqHeader">Frequently Asked Questions</h1>
              <p i18n="Subheader for the FAQ@@faqSubheader">Simple answers to your most common questions</p>
            </div>
            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                <div class="faq-question">
                    <b>Question 1</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper ligula nec justo sagittis, ultricies feugiat libero sagittis. Pellentesque id lorem risus. Morbi lobortis malesuada fermentum. Phasellus enim enim, feugiat id eros eget, eleifend maximus enim. Donec sit amet sodales mi. Pellentesque mollis vehicula dapibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nulla tellus, laoreet sit amet sapien in, dictum ornare ipsum. Fusce id malesuada odio. Ut sit amet erat mi. Aenean nec velit ligula. In pharetra velit rutrum ipsum porttitor accumsan.</p>
                </div>
                <div class="faq-question">
                    <b>Question 2</b>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis tristique elit ac nibh sodales, vel vulputate urna dignissim. Phasellus lectus mi, aliquet accumsan auctor et, convallis ut magna. Ut varius sapien non dictum condimentum. Nam nec vestibulum ligula. Sed sit amet velit dui. Aliquam erat volutpat. Aenean ullamcorper facilisis tincidunt. In dapibus pellentesque ligula, quis sagittis turpis tincidunt id. Sed vel nibh placerat, ullamcorper risus non, facilisis elit. Morbi a libero metus.</p>
                </div>
                <div class="faq-question">
                    <b>Question 3</b>
                    <p>Nunc nec lacus diam. Sed non luctus neque, ut maximus urna. Cras libero sapien, aliquet id porttitor in, dignissim in erat. Praesent malesuada, lectus sit amet commodo elementum, ipsum massa finibus ante, eu mattis tortor leo id nisl. Ut sodales purus purus, id feugiat lacus commodo at. Fusce ac laoreet diam, nec malesuada tortor. Pellentesque et purus vitae erat viverra mattis et et tellus. Suspendisse ac velit risus. Mauris mollis ligula non mi bibendum mattis.</p>
                </div>
                <div class="faq-question">
                    <b>Question 4</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="faq-question">
                    <b>Question 5</b>
                    <p>Sed varius ullamcorper metus, vitae accumsan erat pretium nec. Proin in eleifend lorem. Mauris euismod semper libero, eget commodo mauris eleifend et. Donec venenatis non felis vel rhoncus. Donec sed sem in urna scelerisque congue nec id nisl. Donec malesuada ligula sit amet odio malesuada tempor. Phasellus non arcu dictum, laoreet lacus quis, bibendum ipsum. Mauris vitae nunc efficitur, convallis elit sit amet, pharetra turpis. In lacinia at ex vitae efficitur.</p>
                </div>
                <div class="faq-question">
                    <b>Question 6</b>
                    <p>Aliquam fermentum in quam non hendrerit. Vivamus id tempus diam, accumsan tempus neque. Nunc ante eros, pharetra ut diam quis, vulputate malesuada ipsum. Fusce congue tempor nulla vel vulputate. Cras molestie felis nisl, a mollis orci pharetra non. Ut consectetur tincidunt lectus, ultrices viverra lectus mollis ut. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                </div>
            </div>
        </div>
    </div>
</div>